{% extends 'basicTemplate.html' %}

{% block title %}Course Registration{% endblock %}

{% block content %}
<h1>Register for a Course</h1>

<form method="POST">
    {% csrf_token %}

    <select name="student">
        {% for s in student_list %}
        <option value="{{ s.id }}">{{ s.usn }}</option>
        {% endfor %}
    </select>

    <select name="course">
        {% for c in course_list %}
        <option value="{{ c.id }}">{{ c.coursecode }}</option>
        {% endfor %}
    </select>

    <input type="submit" value="Enroll">
</form>
{% endblock %}
